<footer class="ft_bar">
</footer>

<footer class="footer">
    <div class="container">

        <div class="d-none d-lg-block" style="height:25px"></div>

        <div class="row">
            <div class="col-sm-2 col-md-2 col-lg-2"></div>
            <div class="col-sm-6 col-md-6 col-lg-6">
                <div class="bs-component">
                    BE OUR FRIEND<br><br>
                    <form action="https://formspree.io/xgeyqrpq" method="POST">                        
                    <input type="text" name="_replyto" id="search-box" class="form-control" size="35" placeholder="Enter your email here..." required>
                    <button type="submit" class="btn btn-primary enabled">Subscribe</button>
                   </form>
                </div>
            </div>
        </div>

        <div class="d-none d-lg-block" style="height:25px"></div>

        <div class="row">
            <div class="col-sm-2 col-md-2 col-lg-2"></div>
            <div class="col-sm-3 col-md-3 col-lg-3">
                <div class="bs-component">
                    STAY CONNECTED<br>
                    <span style="font-size: 30px;">
                    <ul>
                        <li style="margin-right: 25px; display: inline;">
                            <a href="http://twitter.com" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        </li>
                        <li style="margin-right: 25px; display: inline;">
                            <a href="http://pinterest.com" target="_blank"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a>
                        </li>
                        <li style="margin-right: 25px; display: inline;">
                            <a href="https://www.instagram.com/thousandfold.store/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                        </li>
                    </ul>
                </span>
                </div>
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3">
                <div class="bs-component">
                    SHOP<br>
                    <a href="/men/">Men's Shopping</a><br>
                    <a href="/women/">Women's Shopping</a><br>
                    <a href="/kids/">Kids' Shopping</a><br><br>
                </div>
            </div>

            <div class="col-sm-4 col-md-4 col-lg-4">
                <div class="bs-component">
                    NEED ASSISTANCE?<br>
                    <a href="mailto:&#73;&#110;&#102;&#111;&#64;&#84;&#104;&#111;&#117;&#115;&#97;&#110;&#100;&#102;&#111;&#108;&#100;&#46;&#115;&#116;&#111;&#114;&#101;">
                        &#73;&#110;&#102;&#111;&#64;&#84;&#104;&#111;&#117;&#115;&#97;&#110;&#100;&#102;&#111;&#108;&#100;&#46;&#115;&#116;&#111;&#114;&#101;
                        </a><br>
                    <div class="d-lg-block" style="font-size: 34px ;color:#777; padding-top: 4px;">
                        <i class="fa fa-cc-paypal"></i>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <hr style="border: 1px solid #444444;" >
            <div class="col-sm-6 col-md-6 col-lg-6">
                <div class="d-lg-block" style="height:40px; font-size: 13px ;">
                    © 2021 Thousandfold. All rights reserved.
                </div>
            </div>
        </div>
    </div>
</footer>